{% extends 'base.html' %}
{% block title %}Каталог фильмов{% endblock %}
{% load static %}
{%  block defer_scripts %}
    <script>
        const filter_url = "{% url 'get_filter' %}"
    </script>
{% endblock %}
{% block content %}
    		<main class="main">
{#            breadcrumb#}
			<div class="breadcrumb-block container">
				<ol class="breadcrumb contact-breadcrumb">
					<li class="breadcrumb-link "><a href="{% url 'movie_main' %}">Смотреть кино</a></li>
					<li class="breadcrumb-link _icon-derection-right active" aria-current="page">Смотреть и голосовать</li>
				</ol>
			</div>
                
			<section id="allfilms" class="allfilms">
				<div class="container">

                    {% include 'movies/all_movies/filters/filter_search.html' %}

					<div class="allfilms-content">
                    {% if movies|length == 0 %}

                        <div class="allfilms-img">
                            <div class="allfilms__item">
                                По вашему запросу ничего нет
                            </div>
                        </div>
                    {% else %}
						<div class="allfilms-img">
                            {% for movie in movies %}
							<div class="allfilms__item">
								<figure>
									<img src="{{ movie.image.url }}" alt="">
									<figcaption>{{ movie.name }}</figcaption>
								</figure>
								<a href="#" class="allfilms__overlay">
									<article class="allfilms__item-overlay">
										<div class="allfilms__overlay-start">
											<img src="{% static 'img/allfilms/star_1.svg' %}" class="star" alt="">
											<span>5.0</span>
										</div>
										<p>{{ movie.year }} | 110 минут</p>
										<p>{% for genre in movie.genre.all %}
                                            {{ genre }}
                                        {% endfor %}
                                            </p>
									</article>
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
                    {% endif %}

				</div>
			</section>
		</main>
{% endblock %}