{% extends 'base.html' %}
{% block title %}Заявка принята{% endblock %}

{% block style %}
    <style>
        .ready-app {
            display: block;
            margin: 20vh 5vh;
            justify-content: center;
        }

        .ready-app a{
            color: var(--color-yellow);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ready-app">
    <p>Ваша заявка успешно отправлена!</p><br>

    <p>На указанный Вами адрес электронной почты была отправлена копия формы заявки. Если Вы согласились на
        некоммерческие показы, мы также выслали шаблон договора.</p><br>

    <p>Мы приглашаем Вас присоединиться к нашей <a href="{% url 'regions' %}">«Карте регионов»</a>.
        Это уникальная база, включающая информацию о
        региональных специалистах, локациях, мероприятиях и многом другом. Участие в ней открывает возможности
        для сотрудничества в федеральных и межрегиональных проектах, которые снимаются в Вашем регионе.</p>
    </div>
{% endblock %}