{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/change_reset_pass.css' %}">
{% endblock %}
{% block content %}
<div class="main">
        <section class="form">
            <form id="reset-form" class="form-book " novalidate="novalidate">
                <h3 class="popup-title">Введите новый пароль</h3>
                <label class="email-label" for="email-input">Пароль
                    <input type="password" class="email__input" name="password1" autocomplete="off"
                           required>
                    <p class="alert" id="password1-input-feedback">Это поле не может быть пустым</p>
                </label>
                <label class="email-label" for="email-input">Повторите пароль
                    <input type="password" class="email__input" name="password2" autocomplete="off"
                           required>
                    <p class="alert" id="password2-input-feedback">Это поле не может быть пустым</p>
                </label>

                <button class="form-btn">Установить</button>
            </form>

        </section>
    </div>
    {% include 'users/register/thanks_popup.html' %}
    <script>
        let admin_block = document.querySelector('.admin')
        admin_block.style.display = 'none'

        let reset_form =document.getElementById('reset-form')
        reset_form.addEventListener('submit', (e) => {
            e.preventDefault()

            const password1Input = reset_form.querySelector('input[name=password1]')
            const password2Input = reset_form.querySelector('input[name=password2]')

            const password1 = password1Input.value.trim()
            const password2 = password2Input.value.trim()
            console.log(password1)
            const password1Error = document.getElementById('password1-input-feedback')
            const password2Error = document.getElementById('password2-input-feedback')

            removeInvalidClass([password1Input, password2Input])
            cleanTextContent([password1Error, password2Error])

            let hasError = false;

            if (!passwordRegex.test(password1)) {
                inValid(password1Input, password1Error, 'Пароль должен содержать минимум восемь символов, одну букву и одну цифру и спеуиальный символ')
                hasError = true;
            }

            if (password1 !== password2) {
                inValid(password2Input, password2Error, 'Пароли не совпадают')
                hasError = true;
            }
            if (hasError) {
                return;
            }

            fetch("{% url 'reset_password' %}", {
                method: 'POST',
                headers: {"X-CSRFToken": csrf},
                body: JSON.stringify(
                    {password: password2, token: window.location.pathname.split('/')[3]})
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if (data.result) {
                        thank.classList.add('open')
                        thank_text.textContent = "Пароль успешно сброшен"
                        thanks_btn.textContent = "Закрыть"
                        thanks_btn.setAttribute('href', '/')
                    }
                })



            console.log('submit')
        })
    </script>
{% endblock %}