{% load static %}
<!-- popup-registration -->
<div id="popup-registration" class="popup popup-registration">
    <div class="popup__body">
        <div class="popup__content">
            {#					<form action="{% url 'register' %}" method="post" id="register_form" class="form-book " novalidate="novalidate">#}
            <a href="/static" class="popup-logo"><img src="
                        {% static '/img/logo.png' %}
                        " alt="Логотип"></a>
            <a class="popup__close close-popup" title="" href="#header"></a>
            <h3 class="popup-title">Регистрация</h3>
            <h5>Роль</h5>
            <div id="tabs" class="tabs-registration">
                <div class="registration-btn tooltip-btn _active" data-btn="look">
                    Смотрю кино<span class="tooltip">Пользователь, принимающий участие в просмотре,
                    голосовании и рейтинговании фильмов, размещенных на платформе</span>
                </div>
                <div class="registration-btn tooltip-btn" data-btn="take">Снимаю
                    кино<span class="tooltip">Продюсер, режиссёр и другие специалисты кинопроизводства</span>
                </div>
                <div class="registration-btn tooltip-btn" data-btn="show">
                    Показываю кино<span class="tooltip">Кинотеатр, площадка, предоставляющая услуги по кинопоказу,
                    или организатор киномероприятий</span>
                </div>
                <div class="registration-btn tooltip-btn" data-btn="promote">
                    Продвигаю кино<span class="tooltip">Компания, занимающийся продвижением фильмов</span>
                </div>
            </div>



            <div id="contents">

                <div class="content _active" data-content="look">
                    <form id="look-form" method="post">
                        <label for="E-mail">E-mail
                            <input type="email" class="form-book__input" name="email" autocomplete="off">
                            <p class="alert" id="emailError"></p>
                        </label>
                        <label for="tel">Номер телефона
                            <input type="tel" class="form-book__input" name="phone" autocomplete="off">
                            <p class="alert" id="phoneError"></p>

                        </label>
                        <label for="password">Пароль
                            <input type="password" class="form-book__input" name="password1"
                                   autocomplete="current-password">
                            <p class="alert" id="password1Error"></p>

                        </label>
                        <label for="repeat-password">Повторить пароль
                            <input type="password" class="form-book__input" name="password2"
                                   autocomplete="current-password">
                            <p class="alert" id="password2Error"></p>

                        </label>
                        <div class="form-btn registration-btns">
                            <!-- #popup-thank проверял -->
                            <button class="register-btn" id="look-btn" data-type="look" type="submit">
                                Зарегистрироваться
                            </button>

                        </div>
                    </form>
                </div>
                <div class="content" data-content="take">
                    <form id="take-form" method="post">
                        <label for="E-mail">E-mail
                            <input type="email" class="form-book__input" name="email" autocomplete="off">
                            <p class="alert" id="emailError"></p>
                        </label>
                        <label for="tel">Номер телефона
                            <input type="tel" class="form-book__input" name="phone" autocomplete="off">
                            <p class="alert" id="phoneError"></p>

                        </label>
                        <label for="password">Пароль
                            <input type="password" class="form-book__input" name="password1"
                                   autocomplete="current-password">
                            <p class="alert" id="password1Error"></p>

                        </label>
                        <label for="repeat-password">Повторить пароль
                            <input type="password" class="form-book__input" name="password2"
                                   autocomplete="current-password">
                            <p class="alert" id="password2Error"></p>

                        </label>
                        <div class="form-btn registration-btns">
                            <!-- #popup-thank проверял -->
                            <button class="register-btn" id="shoot-btn" data-type="look" type="submit">
                                Зарегистрироваться
                            </button>

                        </div>
                    </form>
                </div>
                <div class="content " data-content="show">
                    <form id="show-form" method="post">
                        <label for="last_name">Фамилия
                            <input type="text" class="form-book__input" name="last_name"/>
                            <p class="alert" id="lastnameError"></p>
                        </label>
                        <label for="first_name">Имя
                            <input type="text" class="form-book__input" name="first_name"/>
                            <p class="alert" id="first_nameError"></p>
                        </label>
                        <label for="surname">Отчество
                            <input type="text" class="form-book__input" name="surname"/>
                            <p class="alert" id="surnameError"></p>
                        </label>
                        <label for="email">E-mail
                            <input type="email" class="form-book__input" name="email" autocomplete="off">
                            <p class="alert" id="emailError"></p>
                        </label>
                        <label for="phone">Номер телефона
                            <input type="tel" class="form-book__input" name="phone" autocomplete="off">
                            <p class="alert" id="phoneError"></p>
                        </label>
                        <label for="company_name">Наименование компании
                            <input type="text" class="form-book__input" name="company_name"/>
                            <p class="alert" id="company_nameError"></p>
                        </label>
                        <label for="site">Сайт
                            <input type="text" name="site" class="form-book__input"
{#                                   pattern="^(?=[^_]+$)([\wа-яА-ЯёЁ]([\wа-яА-ЯёЁ-]*[\wа-яА-ЯёЁ])*\.)+(?=[^\d]+$)[\wа-яА-ЯёЁ]{2,63}$"#}>
                            <p class="alert" id="siteError"></p>
                        </label>
                        <label for="password1">Пароль
                            <input type="password" class="form-book__input" name="password1"
                                   autocomplete="current-password">
                            <p class="alert" id="password1Error"></p>
                        </label>
                        <label for="password2">Повторить пароль
                            <input type="password" class="form-book__input" name="password2"
                                   autocomplete="current-password">
                            <p class="alert" id="password2Error"></p>
                        </label>
                        <div class="form-btn registration-btns">
                            <button class="register-btn" id="show-btn" data-type="look" type="submit">
                                Зарегистрироваться
                            </button>
                        </div>
                    </form>
                </div>
                <div class="content" data-content="promote">
                <form id="organize-form" method="post">
                        <label for="last_name">Фамилия
                            <input type="text" class="form-book__input" name="last_name"/>
                            <p class="alert" id="lastnameError"></p>
                        </label>
                        <label for="first_name">Имя
                            <input type="text" class="form-book__input" name="first_name"/>
                            <p class="alert" id="first_nameError"></p>
                        </label>
                        <label for="surname">Отчество
                            <input type="text" class="form-book__input" name="surname"/>
                            <p class="alert" id="surnameError"></p>
                        </label>
                        <label for="email">E-mail
                            <input type="email" class="form-book__input" name="email" autocomplete="off">
                            <p class="alert" id="emailError"></p>
                        </label>
                        <label for="phone">Номер телефона
                            <input type="tel" class="form-book__input" name="phone" autocomplete="off">
                            <p class="alert" id="phoneError"></p>
                        </label>
                        <label for="platform_name">Наименование площадки
                            <input type="text" class="form-book__input" name="platform_name"/>
                            <p class="alert" id="platform_nameError"></p>
                        </label>
                        <label for="site">Сайт
                            <input type="text" name="site" class="form-book__input">
                            <p class="alert" id="siteError"></p>
                        </label>
                        <label for="password1">Пароль
                            <input type="password" class="form-book__input" name="password1"
                                   autocomplete="current-password">
                            <p class="alert" id="password1Error"></p>
                        </label>
                        <label for="password2">Повторить пароль
                            <input type="password" class="form-book__input" name="password2"
                                   autocomplete="current-password">
                            <p class="alert" id="password2Error"></p>
                        </label>
                        <div class="form-btn registration-btns">
                            <button class="register-btn" id="organize-btn" data-type="look" type="submit">
                                Зарегистрироваться
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>