									<nav class="film__body">
										<ul class="genre-add__list">
											<li class="genre-add__item">
												<a href="#" class="film-add__title"> Добавить в плейлист</a>
												<div class="film-add__link">
													<input type="text" placeholder="Создать плейлист"
                                                           class="film-btn add-playlist-input">
                                                    <span class="add-playlist">➕</span>
												</div>
												<ul class="application-checkboxs film__sub-item playlist-block">
												</ul>
											</li>
										</ul>
									</nav>