                                <div class="region-content-res">
                                    <div class="events-block">
                                        <h2 class="region-title">Мероприятия</h2>
                                        <div class="events-wrap">
                                            <div class="events-cards">
                                                <article class="card events-card">
                                                    <div class="events__img">
                                                        <img src="{{ event.photo.url }}" alt="фото мастер класса">
                                                    </div>
                                                    <div class="events__block">
                                                        <h3>{{ event.name }}</h3>
                                                        <p>{{ event.description }}</p>
                                                    </div>
                                                    <div>
                                                        <a href="{% url 'resource_detail' resource_type='events' slug=region_slug %}" class="morelink events-morelink  _icon-ring-arrow">Узнать больше</a>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>