            <section class="regionopportunities">
                {% load static %}
				<div class="">
					<div class="region">
						<label for="blend-top">Возможности региона</label>
						{% include 'regions/main_utils/filters.html' %}
					</div>

					<div class="regionaresources-res">

{#                         Точки кинопоказов#}
                        {% if screening_points %}
                            {% include 'regions/main_utils/screenspoints.html' %}
                            {% else %}
                        {% endif %}
{#                         Региональные интернет ресурсы#}
                        {% if internet_resources %}
                            {% include 'regions/main_utils/internet-resources.html' %}
                            {% else %}
                        {% endif %}
{#                         Производство#}
                        {% if productions %}
                            {% include 'regions/main_utils/productions.html' %}
                            {% else %}
                        {% endif %}
{#                         Специалисты#}
                         {% if specialists %}
                             {% include 'regions/main_utils/specialists.html' %}
                             {% else %}
                         {% endif %}
{#                         Портрет региона#}
                         {% if regional_profile %}
                             {% include 'regions/main_utils/regional_profile.html' %}
                             {% else %}
                         {% endif %}

{#                        Чаты кинематографистов#}
                        {% if chats %}
                            {% include 'regions/main_utils/chats.html' %}
                        {% else %}
                        {% endif %}

{#                        Локации#}
                        {% if locations %}
                            {% include 'regions/main_utils/locations.html' %}
                        {% else %}
                        {% endif %}

                        {% if event %}
                            {% include 'regions/main_utils/events.html' %}
                        {% else %}
                        {% endif %}

                    </div>
				</div>
			</section>