{% extends 'base.html' %}
{% load static %}
{% block style %}
    <style>
        .application-checked::after {
            top: 6px;
        }
        .personalAccount-information__title.check::after {
            content: "";
        }
        .verify-wrapper {
            align-items: center;
            justify-content: space-between;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block defer_scripts %}
    <script>
        let old_male_type = "{{ user.male }}"
        let male_type = "{{ user.male }}"
        const edit_user_profile = "{% url 'edit_user_profile' %}"
        const edit_user_phone = "{% url 'edit_email_phone' %}"
        const email_verify = "{% url 'email-verify' %}"
        const verify_code_url = "{% url 'verify_code' %}"
    </script>
{% endblock %}
{% block content %}

    <main class="main">
			<div class="breadcrumb-block container">
				<ol class="breadcrumb contact-breadcrumb">
					<li class="breadcrumb-link ">
                        <a href="{% url 'main' %}">Главная</a></li>
					<li class="breadcrumb-link _icon-derection-right active" aria-current="page">Профиль</li>
				</ol>
			</div>

			<section id="personalAccount" class="personalAccount">
				<div class="container">

                    {% include 'users/profile/contact.html' %}

                    <div class="personalAccount-wrapper">

{#                        {% include 'users/profile/projects.html' %}#}

                        {% include 'users/profile/applications.html' %}

                        {% include 'users/profile/movies.html' %}

						{% include 'users/profile/favorites.html' %}

						{% include 'users/profile/playlists.html' %}

						{% include 'users/profile/voting.html' %}
					</div>
				</div>
			</section>
		</main>


{% endblock %}

{% block script %}
    <script src="{% static 'js/user/update_profile.js' %}"></script>
{% endblock %}