{% extends 'base.html' %}
{% load static %}
{% block style %}
    <style>
        .application-checked::after {
            top: 6px;
        }
        .personalAccount-information__title.check::after {
            content: "";
        }
        .verify-wrapper {
            align-items: center;
            justify-content: space-between;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block defer_scripts %}
    <script>
        let old_male_type = "{{ user.male }}"
        let male_type = "{{ user.male }}"
        const edit_user_profile = "{% url 'edit_user_profile' %}"
        const edit_user_phone = "{% url 'edit_email_phone' %}"
        const email_verify = "{% url 'email-verify' %}"
        const verify_code_url = "{% url 'verify_code' %}"
    </script>
{% endblock %}
{% block content %}

    <main class="main">
			<div class="breadcrumb-block container">
				<ol class="breadcrumb contact-breadcrumb">
					<li class="breadcrumb-link ">
                        <a href="{% url 'main' %}">Главная</a></li>
					<li class="breadcrumb-link _icon-derection-right active" aria-current="page">Профиль</li>
				</ol>
			</div>

			<section id="personalAccount" class="personalAccount">
				<div class="container">

                    {% include 'users/profile/contact.html' %}

                    <div class="personalAccount-wrapper">
						<div class="personalAccount-content">
							<h3 class="personalAccount-content__title ">Хочу принять участие в проектах<span
									class="_icon-derection-right "></span></h3>
							<div class="personalAccount-cinema">
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/icons/free-icon-avatar.svg' %}" alt="">
										<figcaption>Стать экспертом питчинга</figcaption>
									</figure>
								</div>
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/icons/free-icon-reel.svg' %}" alt="">
										<figcaption>Принять участие в отборе</figcaption>
									</figure>
								</div>
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/icons/ltdfxrf 1.svg' %}" alt="">
										<figcaption>Пополнить призовой фонд </figcaption>
									</figure>
								</div>
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/icons/megaphone.svg' %}" alt="">
										<figcaption>Заказать питчинг</figcaption>
									</figure>
								</div>
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/icons/free-icon-lecture.svg' %}" alt="">
										<figcaption>Предложить мастер-класс</figcaption>
									</figure>
								</div>
							</div>
						</div>
						<div class="personalAccount-content">
							<h3 class="personalAccount-content__title ">Мои заявки<span class="_icon-derection-right "></span></h3>
							<div class="applications">
                                {% for app in apps %}
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/icons/simple-line-icons_docs.svg' %}" alt="">
										<figcaption>Кинопремия<span>“{{ app.name }}”</span></figcaption>
									</figure>
								</div>
                                {% endfor %}
							</div>
						</div>
						<div class="personalAccount-content">
							<h3 class="personalAccount-content__title ">Мои фильмы<span class="_icon-derection-right "></span></h3>
							<div class="personalAccountslider">
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/allfilms/allfilms.png' %}" alt="">
										<figcaption>Пустота</figcaption>
									</figure>
									<a href="screeningSubpage.html" class="allfilms__overlay">
										<article class="allfilms__item-overlay">
											<div class="allfilms__overlay-start">
												<img src="{% static 'img/allfilms/Star 1.svg' %}" class="star" alt="">
												<span>5.0</span>
											</div>
											<p>2019 | 110 минут</p>
											<p>Жанр</p>
										</article>
									</a>
								</div>
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/allfilms/allfilms.png' %}" alt="">
										<figcaption>Пустота</figcaption>
									</figure>
									<a href="" class="allfilms__overlay">
										<article class="allfilms__item-overlay">
											<div class="allfilms__overlay-start">
												<img src="{% static 'img/allfilms/Star 1.svg' %}" class="star" alt="">
												<span>5.0</span>
											</div>
											<p>2019 | 110 минут</p>
											<p>Жанр</p>
										</article>
									</a>
								</div>
{#								#}
							</div>
						</div>
						<div class="personalAccount-content">
							<h3 class="personalAccount-content__title ">Избранное<span class="_icon-derection-right "></span></h3>

							<div class="personalAccountslider">
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/allfilms/allfilms.png' %}" alt="">
										<figcaption>Пустота</figcaption>
									</figure>
									<a href="screeningSubpage.html" class="allfilms__overlay">
										<article class="allfilms__item-overlay">
											<div class="allfilms__overlay-start">
												<img src="{% static 'img/allfilms/Star 1.svg' %}" class="star" alt="">
												<span>5.0</span>
											</div>
											<p>2019 | 110 минут</p>
											<p>Жанр</p>
										</article>
									</a>
								</div>
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/allfilms/allfilms.png' %}" alt="">
										<figcaption>Пустота</figcaption>
									</figure>
									<a href="" class="allfilms__overlay">
										<article class="allfilms__item-overlay">
											<div class="allfilms__overlay-start">
												<img src="{% static 'img/allfilms/Star 1.svg' %}" class="star" alt="">
												<span>5.0</span>
											</div>
											<p>2019 | 110 минут</p>
											<p>Жанр</p>
										</article>
									</a>
								</div>


							</div>
						</div>
						<div class="personalAccount-content">
							<h3 class="personalAccount-content__title ">Плейлисты<span class="_icon-derection-right "></span></h3>
							<div class="personalAccountslider">
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/allfilms/allfilms.png' %}" alt="">
										<figcaption>Пустота</figcaption>
									</figure>
									<a href="screeningSubpage.html" class="allfilms__overlay">
										<article class="allfilms__item-overlay">
											<div class="allfilms__overlay-start">
												<img src="{% static 'img/allfilms/Star 1.svg' %}" class="star" alt="">
												<span>5.0</span>
											</div>
											<p>2019 | 110 минут</p>
											<p>Жанр</p>
										</article>
									</a>
								</div>
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/allfilms/allfilms.png' %}" alt="">
										<figcaption>Пустота</figcaption>
									</figure>
									<a href="" class="allfilms__overlay">
										<article class="allfilms__item-overlay">
											<div class="allfilms__overlay-start">
												<img src="{% static 'img/allfilms/Star 1.svg' %}" class="star" alt="">
												<span>5.0</span>
											</div>
											<p>2019 | 110 минут</p>
											<p>Жанр</p>
										</article>
									</a>
								</div>

							</div>
						</div>
						<div class="personalAccount-content">
							<h3 class="personalAccount-content__title ">Зрительское голосование<span
									class="_icon-derection-right "></span></h3>
							<div class="personalAccountslider">
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/allfilms/allfilms.png' %}" alt="">
										<figcaption>Пустота</figcaption>
									</figure>
									<a href="screeningSubpage.html" class="allfilms__overlay">
										<article class="allfilms__item-overlay">
											<div class="allfilms__overlay-start">
												<img src="{% static 'img/allfilms/Star 1.svg' %}" class="star" alt="">
												<span>5.0</span>
											</div>
											<p>2019 | 110 минут</p>
											<p>Жанр</p>
										</article>
									</a>
								</div>
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/allfilms/allfilms.png' %}" alt="">
										<figcaption>Пустота</figcaption>
									</figure>
									<a href="" class="allfilms__overlay">
										<article class="allfilms__item-overlay">
											<div class="allfilms__overlay-start">
												<img src="{% static 'img/allfilms/Star 1.svg' %}" class="star" alt="">
												<span>5.0</span>
											</div>
											<p>2019 | 110 минут</p>
											<p>Жанр</p>
										</article>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>


{% endblock %}

{% block script %}
    <script src="{% static 'js/user/update_profile.js' %}"></script>
{% endblock %}