                        <div class="personalAccount-content">
							<h3 class="personalAccount-content__title ">Хочу принять участие в проектах<span
									class="_icon-derection-right "></span></h3>
							<div class="personalAccount-cinema">
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/icons/free-icon-avatar.svg' %}" alt="">
										<figcaption>Стать экспертом питчинга</figcaption>
									</figure>
								</div>
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/icons/free-icon-reel.svg' %}" alt="">
										<figcaption>Принять участие в отборе</figcaption>
									</figure>
								</div>
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/icons/ltdfxrf 1.svg' %}" alt="">
										<figcaption>Пополнить призовой фонд </figcaption>
									</figure>
								</div>
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/icons/megaphone.svg' %}" alt="">
										<figcaption>Заказать питчинг</figcaption>
									</figure>
								</div>
								<div class="personalAccountslider__item">
									<figure>
										<img src="{% static 'img/icons/free-icon-lecture.svg' %}" alt="">
										<figcaption>Предложить мастер-класс</figcaption>
									</figure>
								</div>
							</div>
						</div>