<div class="allfilms-filterSearch">
						<div class="filters">
							<a href="#" class="filters-btn btn _icon-derection-right">
								Фильтры
							</a>
							<div class="header__menu menu">
								<nav class="filters__body ">
									<ul class="filters__list">

                                        {% include 'movies/movies/filters/regions.html' %}

										{% include 'vote/filters/categories.html' %}
										<li class="filters__item">
											<a href="#" class="filters__link"> Жанры</a>
											<span class="_icon-derection-right">
											</span>
											<div class="filters-search">
												<input type="search" placeholder="Поиск" class="search-icon btn ">
											</div>
											<ul class="filters__sub-item">
												<li class="filters__item-submenu">
													Республика Татарстан
													<input type="radio" value="1" name="nameradio">
												</li>
												<li class="filters__item-submenu">
													Республика Татарстан
													<input type="radio" value="2" name="nameradio">
												</li>
												<li class="filters__item-submenu">
													Республика Татарстан
													<input type="radio" value="3" name="nameradio">
												</li>
												<li class="filters__item-submenu">
													Республика Татарстан
													<input type="radio" value="4" name="nameradio">
												</li>
											</ul>
										</li>
										<li class="filters__item">
											<a href="film-award.html" class="filters__link ">лауреаты</a>
											<span class="_icon-derection-right">
											</span>
											<div class="filters-search">
												<input type="search" placeholder="Поиск" class="search-icon btn ">
											</div>
											<ul class="filters__sub-item">
												<li class="filters__item-submenu">
													<a href="news.html" class="menu__sub-link">Республика Татарстан</a>
												</li>
												<li class="filters__item-submenu">
													<a href="news.html" class="menu__sub-link">Республика Татарстан</a>
												</li>
												<li class="filters__item-submenu">
													<a href="news.html" class="menu__sub-link">Республика Татарстан</a>
												</li>
												<li class="filters__item-submenu">
													<a href="news.html" class="menu__sub-link">Республика Татарстан</a>
												</li>
											</ul>
										</li>
										<li class="filters__item">
											<a href="#" class="filters__link ">Выбор редакции</a>
											<span class="_icon-derection-right">
											</span>
											<div class="filters-search">
												<input type="search" placeholder="Поиск" class="search-icon btn ">
											</div>
											<ul class="filters__sub-item">
												<li class="filters__item-submenu">
													Республика Татарстан
													<input type="radio" value="1" name="nameradio">
												</li>
												<li class="filters__item-submenu">
													Республика Татарстан
													<input type="radio" value="2" name="nameradio">
												</li>
												<li class="filters__item-submenu">
													Республика Татарстан
													<input type="radio" value="3" name="nameradio">
												</li>
												<li class="filters__item-submenu">
													Республика Татарстан
													<input type="radio" value="4" name="nameradio">
												</li>
											</ul>
										</li>
									</ul>
									<button class="btn
									 filters__body-btn" type="submit">Применить</button>
								</nav>
							</div>
						</div>
						<div class="search">
							<input type="search" placeholder="Поиск" class=" search-btn btn ">
						</div>
					</div>