{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/change_reset_pass.css' %}">
{% endblock %}
{% block content %}
    <div class="main">
        <section class="form">
            <form id="email_form" class="form-book " novalidate="novalidate">
                <h3 class="popup-title">Восстановление пароля</h3>
                <label class="email-label" for="email-input">E-mail или номер телефона
                    <input type="text" class="email__input" name="email" autocomplete="off"
                           required>
                    <p class="alert" id="email-input-feedback">Это поле не может быть пустым</p>
                </label>

                <button class="form-btn">Отправить</button>
            </form>

        </section>
    </div>
    {% include 'users/thanks_popup.html' %}
    <script>

        let admin_block = document.querySelector('.admin')
        admin_block.style.display = 'none'
        const email_form = document.getElementById('email_form')

        email_form.addEventListener('submit', (e) => {
            e.preventDefault()
            const input =  email_form.querySelector('input')
            const emailError = email_form.querySelector('#email-input-feedback')
            const email = input.value.trim()
            let hasValid = false;

            input.classList.remove('is-invalid')
            emailError.textContent = ''

            if (!emailRegex.test(email)) {
                inValid(input, emailError, "Неверный формат email")
                hasValid = true;
            }

            if(hasValid) {
                return;
            }


            fetch("{% url 'users_valid_data' %}", {
                method: 'POST',
                headers: {"X-CSRFToken": csrf},
                body: JSON.stringify(
                    {email: email})
            })
                .then(response => response.json())
                .then(data => {
                    if (!data.emailExists) {
                        inValid(input, emailError, 'Такой email не зарегистрирован')
                    } else {
                        fetch("{% url 'change_password_done' %}", {
                            method: 'POST',
                            headers: {"X-CSRFToken": csrf},
                            body: JSON.stringify(
                                {email: email})
                        })
                            .then(res => res.json())
                            .then(result => {
                                if (result.result) {
                                    thank.classList.add('open')
                                    thank_text.textContent = `На электронный адрес ${email},
                                    отправлена ссылка для смены пароля`
                                    thanks_btn.addEventListener('click', ()=>{
                                        thank.classList.remove('open')
                                        thank_text.textContent = ``
                                    })
                                }
                            })
                    }
                }).catch(error => {
                console.error('Error', error)
                inValid(input, emailError, 'Во время проверки произошла ошибка')
            })
        } )
    </script>
{% endblock %}