{% load static %}
<!-- popup-registration -->
		<div id="popup-registration" class="popup popup-registration">
			<div class="popup__body">
				<div class="popup__content">
{#					<form action="{% url 'register' %}" method="post" id="register_form" class="form-book " novalidate="novalidate">#}
						<a href="/" class="popup-logo"><img src="
{#                        {% static '/img/logo.png' %}#}
                        " alt="Логотип"></a>
						<a class="popup__close close-popup" title="" href="#header"></a>
						<h3 class="popup-title">Регистрация</h3>
						<h5>Роль</h5>
						<div id="tabs" class="tabs-registration">
							<div class="registration-btn tooltip-btn _active" data-btn="look">
								Смотрю кино<span class="tooltip">Lorem ipsum</span>
							</div>
							<div class="registration-btn tooltip-btn" data-btn="take">Снимаю
								кино<span class="tooltip">Lorem ipsum</span>
							</div>
							<div class="registration-btn tooltip-btn" data-btn="show">
								Показываю кино<span class="tooltip">Lorem ipsum</span>
							</div>
							<div class="registration-btn tooltip-btn" data-btn="promote">
								Продвигаю кино<span class="tooltip">Lorem ipsum</span>
							</div>
						</div>
						<div id="contents">

							<div class="content _active" data-content="look">
                                <form action="{% url 'register' %}" method="post" id="look-form">
								<label for="E-mail">E-mail
									<input type="email" class="form-book__input" name="email" autocomplete="off">
								</label>
								<label for="tel">Номер телефона
									<input type="tel" class="form-book__input" name="tel" autocomplete="off">
								</label>
								<label for="password">Пароль
									<input type="password" class="form-book__input" name="password" autocomplete="current-password">
								</label>
								<label for="repeat-password">Повторить пароль
									<input type="password" class="form-book__input" name="repeat-password"
										autocomplete="current-password">
								</label>
								<div class="form-btn registration-btns">
									<!-- #popup-thank проверял -->
									<button class="register-btn" id="look-btn" data-type="look" type="submit">Зарегистрироваться</button>

								</div>
                                </form>
							</div>
							<div class="content" data-content="take">
								<label for="E-mail">E-mail
									<input type="email" class="form-book__input" name="email" autocomplete="off">
								</label>
								<label for="tel">Номер телефона
									<input type="tel" class="form-book__input" name="tel" autocomplete="off">
								</label>
								<label for="password">Пароль
									<input type="password" class="form-book__input" name="password" autocomplete="current-password">
								</label>
								<label for="repeat-password">Повторить пароль
									<input type="repeat-password" class="form-book__input" name="repeat-password"
										autocomplete="current-password">
								</label>
								<div class="form-btn registration-btns">
									<!-- #popup-thank проверял -->
									<a class="register-btn">Зарегистрироваться</a>
								</div>
							</div>
							<div class="content " data-content="show">
								<label for="lastName">Фамилия
									<input type="text" class="form-book__input" name="lastName" />
								</label>
								<label for="firstName">Имя
									<input type="text" class="form-book__input" name="firstName" />
								</label>
								<label for="Surname">Отчество
									<input type="text" class="form-book__input" name="Surname" />
								</label>
								<label for="E-mail">E-mail
									<input type="email" class="form-book__input" name="email" autocomplete="off">
								</label>
								<label for="tel">Номер телефона
									<input type="tel" class="form-book__input" name="tel" autocomplete="off">
								</label>
								<label for="CompanyName">Наименование компании
									<input type="text" class="form-book__input" name="CompanyName" />
								</label>
								<label for="Surname">Сайт
									<input type="text" name="homepage" class="form-book__input"
										pattern="^(?=[^_]+$)([\wа-яА-ЯёЁ]([\wа-яА-ЯёЁ-]*[\wа-яА-ЯёЁ])*\.)+(?=[^\d]+$)[\wа-яА-ЯёЁ]{2,63}$"
										required><br>
								</label>
								<label for="password">Пароль
									<input type="password" class="form-book__input" name="password" autocomplete="current-password">
								</label>
								<label for="repeat-password">Повторить пароль
									<input type="repeat-password" class="form-book__input" name="repeat-password"
										autocomplete="current-password">
								</label>
								<div class="form-btn registration-btns">
									<!-- #popup-thank проверял -->
									<a class="register-btn">Зарегистрироваться</a>
								</div>
							</div>
							<div class="content" data-content="promote">
								<label for="lastName">Фамилия
									<input type="text" class="form-book__input" name="lastName" />
								</label>
								<label for="firstName">Имя
									<input type="text" class="form-book__input" name="firstName" />
								</label>
								<label for="Surname">Отчество
									<input type="text" class="form-book__input" name="Surname" />
								</label>
								<label for="E-mail">E-mail
									<input type="email" class="form-book__input" name="email" autocomplete="off">
								</label>
								<label for="tel">Номер телефона
									<input type="tel" class="form-book__input" name="tel" autocomplete="off">
								</label>
								<label for="SiteName">Наименование площадки
									<input type="text" class="form-book__input" name="SiteName" />
								</label>
								<label for="Surname">Сайт
									<input type="text" name="homepage" class="form-book__input"
										pattern="^(?=[^_]+$)([\wа-яА-ЯёЁ]([\wа-яА-ЯёЁ-]*[\wа-яА-ЯёЁ])*\.)+(?=[^\d]+$)[\wа-яА-ЯёЁ]{2,63}$"
										required><br>
								</label>
								<label for="password">Пароль
									<input type="password" class="form-book__input" name="password" autocomplete="current-password">
								</label>
								<label for="repeat-password">Повторить пароль
									<input type="repeat-password" class="form-book__input" name="repeat-password"
										autocomplete="current-password">
								</label>
								<div class="form-btn registration-btns">
									<!-- #popup-thank проверял -->
									<a class="register-btn">Зарегистрироваться</a>
								</div>
							</div>
						</div>
{#					</form>#}
				</div>
			</div>
		</div>