{% load static %}
		<!-- popup-thank -->
		<div id="popup-thank" class="popup popup-thank">
			<div class="popup__body">
				<div class="popup__content">
{#					<form action="index.html" id="" class="form-book " novalidate="novalidate">#}
						<a href="/" class="popup-logo"><img src="{% static '/img/logo.png' %}" alt="Логотип"></a>
						<a class="popup__close close-popup" title="" href="#header"></a>
						<p class="thank-text"></p>
						<a class="form-btn thank-btn">ok</a>
{#					</form>#}
				</div>
			</div>
		</div>