{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main">
            {% include 'regions/breadcrumb.html' with bread_name='Региональные интернет ресурсы'%}
			<div class="info info-specialists container">
				<a href="#" class="btn regionsmap-btn">Разместить информацию</a>
			</div>
			<section id="production" class="production  container">
				<div class="production-content">
					<div class="internetresources-cards">
                        {% for resource in contents %}
						<article class="card internetresources-card">
							<div class="internetresources__img">
								<figure>
									<img src="{% static 'img/regionsmap/export.png' %}" alt="{{ resource.name }}">
								</figure>
							</div>
							<div class="internetresources__details">
								<h3>{{ resource.name }}</h3>
								<p class="_icon-bi_geo-alt">{{ resource.region.name }}</p>
							</div>
							<a href="{{ resource.link }}"
                               class="morelink internetresources-morelink
                               _icon-ring-arrow">Перейти на сайт</a>
						</article>
                        {% endfor %}
					</div>
				</div>
			</section>
		</main>
        {% include 'paginator.html' %}
{% endblock %}