{% extends 'base.html' %}

{% block content %}
    	<main class="main">
            {% include 'regions/breadcrumb.html' with bread_name='Портрет региона'%}

			<section id="portrait" class="portrait container">
				<div class="portrait-content">
					<div class="portrait-cards">
                        {% for portrait in contents %}
						<article class="card portrait-card">
							<div class="portrait__img">
								<img src="{{ portrait.photo.url }}" alt="{{ portrait.name }}">
							</div>
							<div class="portrait__block">
								<p class="portrait__block-text">{{ portrait.citation }}</p>
								<div class="portrait__block-athor">
									<p>{{ portrait.author }}</p>
									<p>{{ portrait.author_city }}</p>
								</div>
							</div>
                            <a href="{% url 'portrait_detail' pk=portrait.pk %}"
								class="morelink regionaresources-morelink  _icon-ring-arrow">Подробнее</a>
						</article>
                        {% endfor %}
					</div>
				</div>
			</section>
		</main>
    {% include 'regions/paginator.html' %}
{% endblock %}