{% extends 'base.html' %}

{% block content %}
    	<main class="main">
            {% include 'regions/breadcrumb.html' with bread_name='Портрет региона'%}

			<section id="portrait" class="portrait container">
				<div class="portrait-content">
					<div class="portrait-cards">
						<article class="card portrait-card">
							<div class="portrait__img">
								<img src="img/regionsmap/portrait.png" alt="фото мастер класса">
							</div>
							<div class="portrait__block">
								<p class="portrait__block-text
								 ">Это проблема всех начинающих авторов, когда хочется
									снять такое, чтобы
									все ахнули, а получается просто ужас. Тем не менее мне было бы очень интересно в этом
									поучаствовать
								</p>
								<div class="portrait__block-athor">
									<p>Иван Кульнев</p>
									<p>Санкт - Петербург</p>
								</div>
							</div><a href="portrait-personal.html"
								class="morelink regionaresources-morelink  _icon-ring-arrow">Подробнее</a>
						</article>
						<article class="card portrait-card">
							<div class="portrait__img">
								<img src="img/regionsmap/portrait.png" alt="фото мастер класса">
							</div>
							<div class="portrait__block">
								<p class="portrait__block-text
								 ">Это проблема всех начинающих авторов, когда хочется
									снять такое, чтобы
									все ахнули, а получается просто ужас. Тем не менее мне было бы очень интересно в этом
									поучаствовать
								</p>
								<div class="portrait__block-athor">
									<p>Иван Кульнев</p>
									<p>Санкт - Петербург</p>
								</div>
							</div><a href="portrait-personal.html"
								class="morelink regionaresources-morelink  _icon-ring-arrow">Подробнее</a>
						</article>
						<article class="card portrait-card">
							<div class="portrait__img">
								<img src="img/regionsmap/portrait.png" alt="фото мастер класса">
							</div>
							<div class="portrait__block">
								<p class="portrait__block-text
								 ">Это проблема всех начинающих авторов, когда хочется
									снять такое, чтобы
									все ахнули, а получается просто ужас. Тем не менее мне было бы очень интересно в этом
									поучаствовать
								</p>
								<div class="portrait__block-athor">
									<p>Иван Кульнев</p>
									<p>Санкт - Петербург</p>
								</div>
							</div><a href="portrait-personal.html"
								class="morelink regionaresources-morelink  _icon-ring-arrow">Подробнее</a>
						</article>
						<article class="card portrait-card">
							<div class="portrait__img">
								<img src="img/regionsmap/portrait.png" alt="фото мастер класса">
							</div>
							<div class="portrait__block">
								<p class="portrait__block-text
								 ">Это проблема всех начинающих авторов, когда хочется
									снять такое, чтобы
									все ахнули, а получается просто ужас. Тем не менее мне было бы очень интересно в этом
									поучаствовать
								</p>
								<div class="portrait__block-athor">
									<p>Иван Кульнев</p>
									<p>Санкт - Петербург</p>
								</div>
							</div><a href="portrait-personal.html"
								class="morelink regionaresources-morelink  _icon-ring-arrow">Подробнее</a>
						</article>

					</div>
				</div>
			</section>
		</main>
{% endblock %}