{% extends 'base.html' %}

{% block content %}
    <main class="main">
			<div class="breadcrumb-block container">
				<ol class="breadcrumb contact-breadcrumb">
					<li class="breadcrumb-link "><a href="#">Карта регионов </a></li>
					<li class="breadcrumb-link _icon-derection-right active" aria-current="page">Точки кинопоказов
					</li>
				</ol>
			</div>
			<div class="info info-specialists container">
				<a href="#" class="btn regionsmap-btn">Разместить информацию</a>
			</div>
			<section id="production" class="production  container">
				<div class="filmlocations">
					<div class="production-content">
						<div class="filmlocations-cards">
							<article class="card filmlocations-card">
								<div class="filmlocations__img">
									<figure>
										<img src="img/regionsmap/film.png" alt="точка кинопоказа">
									</figure>
								</div>
								<div class="filmlocations__details">
									<h3>ДК Ленина</h3>
									<p class="_icon-bi_geo-alt">Казань, ул. Гвардейская 33г</p>
									<div class="filmlocations__contact">
										<a href="tel:+9534070370" class="_icon-mdi_phone">8 953 407 03 70
										</a>
										<a href="#" class="_icon-youtube">youtube.com</a>
										<a href="http://kingofmedia.ru/" class="_icon-web-solid">http://kingofmedia.ru/</a>
										<a href="mailto:albina@mail.ru" class="_icon-mail-outline">albinane@mail.ru</a>
									</div>
								</div>
								<a href="#" class="morelink regionaresources-morelink  _icon-ring-arrow">Перейти на
									сайт</a>
							</article>
							<article class="card filmlocations-card">
								<div class="filmlocations__img">
									<figure>
										<img src="img/regionsmap/film.png" alt="точка кинопоказа">
									</figure>
								</div>
								<div class="filmlocations__details">
									<h3>ДК Ленина</h3>
									<p class="_icon-bi_geo-alt">Казань, ул. Гвардейская 33г</p>
									<div class="filmlocations__contact">
										<a href="tel:+9534070370" class="_icon-mdi_phone">8 953 407 03 70
										</a>
										<a href="#" class="_icon-youtube">youtube.com</a>
										<a href="http://kingofmedia.ru/" class="_icon-web-solid">http://kingofmedia.ru/</a>
										<a href="mailto:albina@mail.ru" class="_icon-mail-outline">albinane@mail.ru</a>
									</div>
								</div>
								<a href="#" class="morelink regionaresources-morelink  _icon-ring-arrow">Перейти на
									сайт</a>
							</article>
							<article class="card filmlocations-card">
								<div class="filmlocations__img">
									<figure>
										<img src="img/regionsmap/film.png" alt="точка кинопоказа">
									</figure>
								</div>
								<div class="filmlocations__details">
									<h3>ДК Ленина</h3>
									<p class="_icon-bi_geo-alt">Казань, ул. Гвардейская 33г</p>
									<div class="filmlocations__contact">
										<a href="tel:+9534070370" class="_icon-mdi_phone">8 953 407 03 70
										</a>
										<a href="#" class="_icon-youtube">youtube.com</a>
										<a href="http://kingofmedia.ru/" class="_icon-web-solid">http://kingofmedia.ru/</a>
										<a href="mailto:albina@mail.ru" class="_icon-mail-outline">albinane@mail.ru</a>
									</div>
								</div>
								<a href="#" class="morelink regionaresources-morelink  _icon-ring-arrow">Перейти на
									сайт</a>
							</article>
							<article class="card filmlocations-card">
								<div class="filmlocations__img">
									<figure>
										<img src="img/regionsmap/film.png" alt="точка кинопоказа">
									</figure>
								</div>
								<div class="filmlocations__details">
									<h3>ДК Ленина</h3>
									<p class="_icon-bi_geo-alt">Казань, ул. Гвардейская 33г</p>
									<div class="filmlocations__contact">
										<a href="tel:+9534070370" class="_icon-mdi_phone">8 953 407 03 70
										</a>
										<a href="#" class="_icon-youtube">youtube.com</a>
										<a href="http://kingofmedia.ru/" class="_icon-web-solid">http://kingofmedia.ru/</a>
										<a href="mailto:albina@mail.ru" class="_icon-mail-outline">albinane@mail.ru</a>
									</div>
								</div>
								<a href="#" class="morelink regionaresources-morelink  _icon-ring-arrow">Перейти на
									сайт</a>
							</article>
						</div>
						<div class="filmlocations-cards">
							<article class="card filmlocations-card">
								<div class="filmlocations__img">
									<figure>
										<img src="img/regionsmap/film.png" alt="точка кинопоказа">
									</figure>
								</div>
								<div class="filmlocations__details">
									<h3>ДК Ленина</h3>
									<p class="_icon-bi_geo-alt">Казань, ул. Гвардейская 33г</p>
									<div class="filmlocations__contact">
										<a href="tel:+9534070370" class="_icon-mdi_phone">8 953 407 03 70
										</a>
										<a href="#" class="_icon-youtube">youtube.com</a>
										<a href="http://kingofmedia.ru/" class="_icon-web-solid">http://kingofmedia.ru/</a>
										<a href="mailto:albina@mail.ru" class="_icon-mail-outline">albinane@mail.ru</a>
									</div>
								</div>
								<a href="#" class="morelink regionaresources-morelink  _icon-ring-arrow">Перейти на
									сайт</a>
							</article>
							<article class="card filmlocations-card">
								<div class="filmlocations__img">
									<figure>
										<img src="img/regionsmap/film.png" alt="точка кинопоказа">
									</figure>
								</div>
								<div class="filmlocations__details">
									<h3>ДК Ленина</h3>
									<p class="_icon-bi_geo-alt">Казань, ул. Гвардейская 33г</p>
									<div class="filmlocations__contact">
										<a href="tel:+9534070370" class="_icon-mdi_phone">8 953 407 03 70
										</a>
										<a href="#" class="_icon-youtube">youtube.com</a>
										<a href="http://kingofmedia.ru/" class="_icon-web-solid">http://kingofmedia.ru/</a>
										<a href="mailto:albina@mail.ru" class="_icon-mail-outline">albinane@mail.ru</a>
									</div>
								</div>
								<a href="#" class="morelink regionaresources-morelink  _icon-ring-arrow">Перейти на
									сайт</a>
							</article>
							<article class="card filmlocations-card">
								<div class="filmlocations__img">
									<figure>
										<img src="img/regionsmap/film.png" alt="точка кинопоказа">
									</figure>
								</div>
								<div class="filmlocations__details">
									<h3>ДК Ленина</h3>
									<p class="_icon-bi_geo-alt">Казань, ул. Гвардейская 33г</p>
									<div class="filmlocations__contact">
										<a href="tel:+9534070370" class="_icon-mdi_phone">8 953 407 03 70
										</a>
										<a href="#" class="_icon-youtube">youtube.com</a>
										<a href="http://kingofmedia.ru/" class="_icon-web-solid">http://kingofmedia.ru/</a>
										<a href="mailto:albina@mail.ru" class="_icon-mail-outline">albinane@mail.ru</a>
									</div>
								</div>
								<a href="#" class="morelink regionaresources-morelink  _icon-ring-arrow">Перейти на
									сайт</a>
							</article>
							<article class="card filmlocations-card">
								<div class="filmlocations__img">
									<figure>
										<img src="img/regionsmap/film.png" alt="точка кинопоказа">
									</figure>
								</div>
								<div class="filmlocations__details">
									<h3>ДК Ленина</h3>
									<p class="_icon-bi_geo-alt">Казань, ул. Гвардейская 33г</p>
									<div class="filmlocations__contact">
										<a href="tel:+9534070370" class="_icon-mdi_phone">8 953 407 03 70
										</a>
										<a href="#" class="_icon-youtube">youtube.com</a>
										<a href="http://kingofmedia.ru/" class="_icon-web-solid">http://kingofmedia.ru/</a>
										<a href="mailto:albina@mail.ru" class="_icon-mail-outline">albinane@mail.ru</a>
									</div>
								</div>
								<a href="#" class="morelink regionaresources-morelink  _icon-ring-arrow">Перейти на
									сайт</a>
							</article>
						</div>
					</div>
				</div>
			</section>
		</main>
{% endblock %}