{% extends 'base.html' %}

{% block content %}
    <main class="main">
            {% include 'regions/breadcrumb.html' with bread_name='Точки кинопоказов' %}
			<div class="info info-specialists container">
				<a href="#" class="btn regionsmap-btn">Разместить информацию</a>
			</div>
			<section id="production" class="production  container">
				<div class="filmlocations">
					<div class="production-content">
						<div class="filmlocations-cards">
                            {% for card in contents %}
							<article class="card filmlocations-card">
								<div class="filmlocations__img">
									<figure>
										<img src="{{ card.image.url }}" alt="{{ card.name }}">
									</figure>
								</div>
								<div class="filmlocations__details">
									<h3>{{ card.name }}</h3>
									<p class="_icon-bi_geo-alt">{{ card.address }}</p>
									<div class="filmlocations__contact">
										<a href="tel:{{ card.phone }}" class="_icon-mdi_phone">{{ card.phone }}</a>
										<a href="{{ card.social_net }}" class="_icon-youtube">{{ card.social_net }}</a>
										<a href="{{ card.address }}" class="_icon-web-solid">{{ card.address }}</a>
										<a href="{{ card.email }}" class="_icon-mail-outline">{{ card.email }}</a>
									</div>
								</div>
								<a href="{{ card.site }}" class="morelink regionaresources-morelink  _icon-ring-arrow">Перейти на
									сайт</a>
							</article>
                            {% endfor %}
						</div>
					</div>
				</div>
			</section>
		</main>
            {% include 'regions/paginator.html' %}
{% endblock %}