            <section class="regionopportunities ">
                {% load static %}
				<div class="">
					<div class="region ">
						<label for="blend-top">Возможности региона</label>
						{% include 'regions/filters.html' %}
					</div>
					<div class="regionaresources">
						<div class="regionOne region-content">
							<div class="filmlocations">
								<h2 class="region-title">Точки кинопоказов</h2>
								<div class="filmlocations-cards">
									<article class="card filmlocations-card">
										<div class="filmlocations__img">
											<figure>
												<img src="{% static 'img/regionsmap/film.png' %}" alt="точка кинопоказа">
											</figure>
										</div>
										<div class="filmlocations__details">
											<h3>ДК Ленина</h3>
											<p class="_icon-bi_geo-alt">Казань, ул. Гвардейская 33г</p>
											<div class="filmlocations__contact">
												<a href="tel:+9534070370" class="_icon-mdi_phone">8 953 407 03 70
												</a>
												<a href="#" class="_icon-youtube">youtube.com</a>
												<a href="http://kingofmedia.ru/" class="_icon-web-solid">http://kingofmedia.ru/</a>
												<a href="mailto:albina@mail.ru" class="_icon-mail-outline">albinane@mail.ru</a>
											</div>
										</div>
										<a href="film-points.html" class="morelink regionaresources-morelink  _icon-ring-arrow">Перейти на
											сайт</a>
									</article>
									<article class="card filmlocations-card">
										<div class="filmlocations__img">
											<figure>
												<img src="img/regionsmap/film.png" alt="точка кинопоказа">
											</figure>
										</div>
										<div class="filmlocations__details">
											<h3>ДК Ленина</h3>
											<p class="_icon-bi_geo-alt">Казань, ул. Гвардейская 33г</p>
											<div class="filmlocations__contact">
												<a href="tel:+9534070370" class="_icon-mdi_phone">8 953 407 03 70
												</a>
												<a href="#" class="_icon-youtube">youtube.com</a>
												<a href="http://kingofmedia.ru/" class="_icon-web-solid">http://kingofmedia.ru/</a>
												<a href="mailto:albina@mail.ru" class="_icon-mail-outline">albinane@mail.ru</a>
											</div>
										</div>
										<a href="film-points.html" class="morelink regionaresources-morelink  _icon-ring-arrow">Перейти на
											сайт</a>
									</article>

								</div>
							</div>
							<div class="internetresources-block">
								<h2 class="region-title">Региональные интернет ресурсы</h2>
								<div class="internetresources-cards">
									<article class="card internetresources-card">
										<div class="internetresources__img">
											<figure>
												<img src="img/regionsmap/export.png" alt="точка кинопоказа">
											</figure>
										</div>
										<div class="internetresources__details">
											<h3>Сайт центра развития кинопроизводства Мурманской области</h3>
											<p class="_icon-bi_geo-alt">Мурманская область</p>
										</div>
										<a href="internetresources.html"
											class="morelink internetresources-morelink  _icon-ring-arrow">Перейти
											на
											сайт</a>
									</article>
									<article class="card internetresources-card">
										<div class="internetresources__img">
											<figure>
												<img src="img/regionsmap/export.png" alt="точка кинопоказа">
											</figure>
										</div>
										<div class="internetresources__details">
											<h3>Сайт центра развития кинопроизводства Мурманской области</h3>
											<p class="_icon-bi_geo-alt">Мурманская область</p>
										</div>
										<a href="internetresources.html"
											class="morelink internetresources-morelink  _icon-ring-arrow">Перейти
											на
											сайт</a>
									</article>

								</div>
							</div>
						</div>
						<div class="regiontwo region-content">
							<div class="production-block">
								<h2 class="region-title">Производство</h2>
								<div class="production-cards">
									<article class="card production-card">
										<div class="production__img">
											<figure>
												<img src="img/regionsmap/production.png" alt="точка кинопоказа">
											</figure>
										</div>
										<div class="production__details">
											<h3>Kingof media</h3>
											<p class="">-Препродакшен</p>
											<p class="">-Продакшен</p>
											<p class="">-Постпродакшен</p>
											<div class="production__contact">
												<a href="tel:+9534070370" class="_icon-mdi_phone">8 953 407 03 70
												</a>
												<a href="#" class="_icon-youtube">youtube.com</a>
												<a href="#" class="_icon-web-solid">http://kingofmedia.ru/</a>
												<a href="mailto:albina@mail.ru" class="_icon-mail-outline">albinane@mail.ru</a>
											</div>
										</div>
										<a href="production.html" class="morelink regionaresources-morelink  _icon-ring-arrow">Узнать
											больше</a>
									</article>
									<article class="card production-card">
										<div class="production__img">
											<figure>
												<img src="img/regionsmap/production.png" alt="точка кинопоказа">
											</figure>
										</div>
										<div class="production__details">
											<h3>Kingof media</h3>
											<p class="">-Препродакшен</p>
											<p class="">-Продакшен</p>
											<p class="">-Постпродакшен</p>
											<div class="production__contact">
												<a href="tel:+9534070370" class="_icon-mdi_phone">8 953 407 03 70
												</a>
												<a href="#" class="_icon-youtube">youtube.com</a>
												<a href="#" class="_icon-web-solid">http://kingofmedia.ru/</a>
												<a href="mailto:albina@mail.ru" class="_icon-mail-outline">albinane@mail.ru</a>
											</div>
										</div>
										<a href="production.html" class="morelink regionaresources-morelink  _icon-ring-arrow">Узнать
											больше</a>
									</article>
								</div>
							</div>
							<div class="specialists-block">
								<h2 class="region-title">Специалисты</h2>
								<div class="personal-cards">
									<article class="card personal-card">
										<div class="personal__img">
											<figure>
												<img src="img/contactImg/albina.png" alt="Альбина Нафигова">
											</figure>
										</div>
										<div class="personal__details">
											<h3>Альбина Нафигова</h3>
											<h4>Директор</h4>
											<div class="personal__contact">
												<a href="tel:+9534070370">Тел.: 8 953 407 03 70
												</a>
												<a href="mailto:albina@mail.ru">
													E-mail: albinane@mail.ru</a>
											</div>
										</div>
										<a href="specialists.html" class="morelink regionaresources-morelink  _icon-ring-arrow">Узнать
											больше</a>
									</article>
									<article class="card personal-card">
										<div class="personal__img">
											<figure>
												<img src="img/contactImg/Влада.png" alt=" Влада Крылова">
											</figure>
										</div>
										<div class="personal__details">
											<h3> Влада Крылова</h3>
											<h4>
												Технический продюсер
											</h4>
											<div class="personal__contact">
												<a href="tel:+79033420817">Тел.: 8 950 323 82 32
												</a>
												<a href="E-mail: vladakrylova@ya.ru">
													E-mail: vladakrylova@ya.ru</a>
											</div>
										</div>
										<a href="specialist-personal.html"
											class="morelink regionaresources-morelink  _icon-ring-arrow">Узнать
											больше</a>
									</article>
								</div>
							</div>
						</div>
						<div class="regionthree region-content">
							<div class="portrait-block">
								<h2 class="region-title">Портрет региона</h2>
								<div class="portrait-cards">
									<article class="card portrait-card">
										<div class="portrait__img">
											<img src="img/regionsmap/portrait.png" alt="фото мастер класса">
										</div>
										<div class="portrait__block">
											<p class="portrait__block-text
										 ">Это проблема всех начинающих авторов, когда хочется
												снять такое, чтобы
												все ахнули, а получается просто ужас. Тем не менее мне было бы очень интересно в этом
												поучаствовать
											</p>
											<div class="portrait__block-athor">
												<p>Иван Кульнев</p>
												<p class="_icon-bi_geo-alt">Санкт - Петербург</p>
											</div>
										</div>
										<a href="portrait.html" class="morelink regionaresources-morelink  _icon-ring-arrow">Узнать
											больше</a>
									</article>
								</div>
							</div>
							<div class="filmmakers-block">
								<h2 class="region-title">Чаты кинематографистов</h2>
								<div class="filmmakers-cards">
									<article class="card filmmakers-card">
										<p class="filmmakers-card__text">Чат, основанный на бесплатной взаимопомощи на съемках</p>
										<div class="filmmakers-link">
											<ul class="filmmakers-list">
												<li class="filmmakers-list__social">
													<a class="_icon-vk-white" href="#" target="_blank" rel="nofollow noopener noreferrer">
													</a>
												</li>
												<li class="filmmakers-list__social">
													<a class=" _icon-telegram-white" href="filmmakers.html" target="_blank"
														rel="nofollow noopener noreferrer">
													</a>
												</li>
												<li class="filmmakers-list__social">
													<a class=" _icon-whatsApp" href="#" target="_blank" rel="nofollow noopener noreferrer">
													</a>
												</li>
											</ul>
										</div>
										<p class="_icon-bi_geo-alt filmmakers-list__city">Санкт - Петербург</p>
										<a href="filmmakers.html" class="morelink internetresources-morelink  _icon-ring-arrow">Узнать
											больше</a>
									</article>
									<article class="card filmmakers-card">
										<p class="filmmakers-card__text">Чат, основанный на бесплатной взаимопомощи на съемках</p>
										<div class="filmmakers-link">
											<ul class="filmmakers-list">
												<li class="filmmakers-list__social">
													<a class="_icon-vk-white" href="#" target="_blank" rel="nofollow noopener noreferrer">
													</a>
												</li>
												<li class="filmmakers-list__social">
													<a class=" _icon-telegram-white" href="#" target="_blank" rel="nofollow noopener noreferrer">
													</a>
												</li>
												<li class="filmmakers-list__social">
													<a class=" _icon-whatsApp" href="#" target="_blank" rel="nofollow noopener noreferrer">
													</a>
												</li>
											</ul>
										</div>
										<p class="_icon-bi_geo-alt filmmakers-list__city">Санкт - Петербург</p>
										<a href="#" class="morelink internetresources-morelink  _icon-ring-arrow">Узнать больше</a>
									</article>
								</div>
							</div>
						</div>
						<div class="regionfour region-content">
							<div class="location-block">
								<h2 class="region-title">Локации</h2>
								<div class="location-cards">
									<article class="card location-card">
										<div class="location__img">
											<figure>
												<img src="img/regionsmap/location.png" alt="точка кинопоказа">
											</figure>
										</div>
										<div class="location__details">
											<h3>Казанская ратуша</h3>
										</div>
										<a href="location.html" class="morelink location-morelink  _icon-ring-arrow">Узнать больше</a>
									</article>
									<article class="card location-card">
										<div class="location__img">
											<figure>
												<img src="img/regionsmap/location_1.png" alt="точка кинопоказа">
											</figure>
										</div>
										<div class="location__details">
											<h3>Санкт - Петербургский федеральный университет</h3>
										</div>
										<a href="location.html" class="morelink location-morelink  _icon-ring-arrow">Узнать больше</a>
									</article>

								</div>
							</div>
							<div class="events-block">
								<h2 class="region-title">Мероприятия</h2>
								<div class="events-cards">
									<article class="card events-card">
										<div class="events__img">
											<img src="img/regionsmap/events.png" alt="фото мастер класса">
										</div>
										<div class="events__block">
											<h3>Трудовые права в кинопроизводстве и роль профсоюзов в защите прав и интересов трудящихся</h3>
											<p>В рамках Межрегиональной кинопремии «Алтын тәлинкә» (Золотая тарелка),  серия мастер-классов от
												экспертов в области кинематографии!
												Спикером первого вебинара, который мы хотим вам презентовать, выступила эксперт нашей
												кинопремии,
												Доцент кафедры продюсирования Санкт-Петербургского института кино и телевидения — Ксения
												Леонтьева.
											</p>
										</div>
										<div>
											<a href="events.html" class="morelink events-morelink  _icon-ring-arrow">Узнать больше</a>
										</div>
									</article>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>