{% extends 'base.html' %}
{% block title %}Смотреть кино{% endblock %}
{% load static %}
{% block content %}
    <main class="main">
        <div id="watch" class="watch">
{#        Slider#}
            <section class="watchSlider-content">
                <div class="watch-wrapper">
                    <div class="watchslider">
                        {% for slide in sliders %}
                        <div class="watchslider__item">
                            <div class="watchslider__item-link">
                                <img src="{{ slide.slide_image.url }}" alt="">
                                <a href="#">
                                    <h2>{{ slide.short_name }}</h2>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <section id="watchmovieTop" class="watchmovieTop">
                <div class="container">
                    <div class="watchmovieTop-btn ">
                        <a href="{% url 'all_movies' %}" class="btn ">Каталог фильмов</a>
                    </div>
                    <div class="watchmovieTop-cards">
                        {% for almanac in almanacs %}
                        <article>
                            <h4>{{ almanac.name }} {% if almanac.year %}{{ almanac.year }}{% else %}{% endif %}</h4>
                            <div class="card watchmovieTop-card">
                                <div class="watchmovieTop__img">
                                    <img src="{{ almanac.image.url }}" alt="{{ almanac.slug }}">
                                </div>
                                <div class="watchmovieTop__block">
                                    <p>{{ almanac.description }}</p>
                                </div>
                                <div>
                                    <a href="{% url 'all_movies' %}?almanac={{ almanac.slug }}" class="morelink watchmovieTop-morelink  _icon-ring-arrow">Узнать
                                        больше</a>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <section id="watchmovieBottom" class="watchmovieBottom">
                <div class="container">
                    <div class="info ">
                        <a href="all-films.html" class="btn regionsmap-btn watchmovieBottom-btn">Смотреть все фильмы</a>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}