{% extends 'base.html' %}
{% block title %}Смотреть кино{% endblock %}
{% load static %}
{% block content %}
    <main class="main">
        <div id="watch" class="watch">
            <section class="watchSlider-content">
                <div class="watch-wrapper">
{#                    Slider#}
                    <div class="watchslider">
                        <div class="watchslider__item">
                            <div class="watchslider__item-link">
                                <img src="{% static 'img/program-bg.png' %}" alt="">
                                <h2>Лауреаты III кинопремии</h2>
                            </div>
                        </div>
                        <div class="watchslider__item">
                            <img src="{% static 'img/poster_1.png' %}" alt="">
                            <h2>Лауреаты III кинопремии</h2>
                        </div>
                        <div class="watchslider__item">
                            <img src="{% static 'img/videoslide-bg.png' %}" alt="">
                            <h2>Лауреаты III кинопремии</h2>
                        </div>
                    </div>
                </div>
            </section>
            <section id="watchmovieTop" class="watchmovieTop">
                <div class="container">
                    <div class="watchmovieTop-btn ">
                        <a href="all-films.html" class="btn ">Каталог фильмов</a>
                    </div>
                    <div class="watchmovieTop-cards">
                        <article>
                            <h4>Победитель зрительского голосования 2019
                            </h4>
                            <div class="card watchmovieTop-card">
                                <div class="watchmovieTop__img">
                                    <img src="img/watchmovie/watchmovieTop-card.png" alt="">
                                </div>
                                <div class="watchmovieTop__block">
                                    <p>Это проблема всех начинающих авторов, когда хочется снять такое, чтобы все
                                        ахнули, а получается
                                        просто ужас. Тем не менее мне было бы очень интересно в этом поучаствовать. Это
                                        проблема всех
                                        начинающих авторов, когда хочется снять такое, чтобы все ахнули, а получается
                                        просто ужас. Тем не
                                        менее мне было бы очень интересно в этом поучаствовать
                                    </p>
                                </div>
                                <div>
                                    <a href="#" class="morelink watchmovieTop-morelink  _icon-ring-arrow">Узнать
                                        больше</a>
                                </div>
                            </div>
                        </article>
                        <article>
                            <h4>Победитель зрительского голосования 2019</h4>
                            <div class="card watchmovieTop-card">
                                <div class="watchmovieTop__img">
                                    <img src="img/watchmovie/watchmovieTop-card.png" alt="">
                                </div>
                                <div class="watchmovieTop__block">
                                    <p>Это проблема всех начинающих авторов, когда хочется снять такое, чтобы все
                                        ахнули, а получается
                                        просто ужас. Тем не менее мне было бы очень интересно в этом поучаствовать. Это
                                        проблема всех
                                        начинающих авторов, когда хочется снять такое, чтобы все ахнули, а получается
                                        просто ужас. Тем не
                                        менее мне было бы очень интересно в этом поучаствовать
                                    </p>
                                </div>
                                <div>
                                    <a href="#" class="morelink watchmovieTop-morelink  _icon-ring-arrow">Узнать
                                        больше</a>
                                </div>
                            </div>
                        </article>

                    </div>
                    <div class="watchmovieTop-cards container">
                        <article>
                            <h4>Победитель зрительского голосования 2019</h4>
                            <div class="card watchmovieTop-card">
                                <div class="watchmovieTop__img">
                                    <img src="img/watchmovie/watchmovieTop-card.png" alt="">
                                </div>
                                <div class="watchmovieTop__block">
                                    <p>Это проблема всех начинающих авторов, когда хочется снять такое, чтобы все
                                        ахнули, а получается
                                        просто ужас. Тем не менее мне было бы очень интересно в этом поучаствовать. Это
                                        проблема всех
                                        начинающих авторов, когда хочется снять такое, чтобы все ахнули, а получается
                                        просто ужас. Тем не
                                        менее мне было бы очень интересно в этом поучаствовать
                                    </p>
                                </div>
                                <div>
                                    <a href="#" class="morelink watchmovieTop-morelink  _icon-ring-arrow">Узнать
                                        больше</a>
                                </div>
                            </div>
                        </article>
                        <article>
                            <h4>Победитель зрительского голосования 2019</h4>
                            <div class="card watchmovieTop-card">
                                <div class="watchmovieTop__img">
                                    <img src="img/watchmovie/watchmovieTop-card.png" alt="фото мастер класса">
                                </div>
                                <div class="watchmovieTop__block">
                                    <p>Это проблема всех начинающих авторов, когда хочется снять такое, чтобы все
                                        ахнули, а получается
                                        просто ужас. Тем не менее мне было бы очень интересно в этом поучаствовать. Это
                                        проблема всех
                                        начинающих авторов, когда хочется снять такое, чтобы все ахнули, а получается
                                        просто ужас. Тем не
                                        менее мне было бы очень интересно в этом поучаствовать
                                    </p>
                                </div>
                                <div>
                                    <a href="#" class="morelink watchmovieTop-morelink  _icon-ring-arrow">Узнать
                                        больше</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <section id="watchmovieBottom" class="watchmovieBottom">
                <div class="container">
                    <div class="info ">
                        <a href="all-films.html" class="btn regionsmap-btn watchmovieBottom-btn">Смотреть все фильмы</a>
                    </div>
                </div>
    </main>
{% endblock %}