		{% load static %}
        		<footer id="footer" class="footer">
			<div class="container footer-content">
				<div class="footer-support">
					<a href="https://xn--80aeeqaabljrdbg6a3ahhcl4ay9hsa.xn--p1ai/" class="footer-fond">
						<img src="{% static 'img/ПФКИ_Лого.png' %}" alt="">
					</a>
					<!-- <a href="/" class="footer-logo">
						<img src="img/footer-logo.png" alt="">
					</a> -->

				</div>
				<div class="footer-content__menu footer-menu">
					<div class="footer-menu">
						<div class="filmaward">
							<h4>О КИНОПРЕМИИ</h4>
							<ul>
								<li>
									<a href="#">О ПРОЕКТЕ</a>
								</li>
								<li>
									<a href="#">ЭКСПЕРТЫ</a>
								</li>
								<li>
									<a href="#">СМИ О НАС</a>
								</li>
								<li>
									<a href="#">АРХИВ</a>
								</li>
								<li>
									<a href="#">МЕДИА</a>
								</li>
								<li>
									<a href="#">КОНТАКТЫ</a>
								</li>
								<li>
									<a href="#">ПОРТРЕТ РЕГИОНА</a>
								</li>
							</ul>
						</div>
						<div class="regions">
							<h4>КАРТА РЕГИОНОВ</h4>
							<ul>
								<li>
									<a href="/">ГЛАВНАЯ</a>
								</li>
								<li>
									<a href="#">СПЕЦИАЛИСТЫ</a>
								</li>
								<li>
									<a href="#">ЛОКАЦИИ</a>
								</li>
								<li>
									<a href="#">МЕРОПРИЯТИЯ</a>
								</li>
								<li>
									<a href="#">ПРОИЗВОДСТВО</a>
								</li>
								<li>
									<a href="/">ТОЧКИ КИНОПОКАЗОВ</a>
								</li>
								<li>
									<a href="#">КОНТАКТЫ</a>
								</li>
							</ul>
						</div>
						<div class="movie">
							<h4>СМОТРЕТЬ КИНО</h4>
							<ul>
								<li>
									<a href="/">ГЛАВНАЯ</a>
								</li>
								<li>
									<a href="/">КИНОТЕКА</a>
								</li>
								<li>
									<a href="#">ПОДАТЬ ЗАЯВКУ</a>
								</li>
								<li>
									<a href="#">ГОЛОСОВАНИЕ</a>
								</li>
								<li>
									<a href="#">КОНТАКТЫ</a>
								</li>
							</ul>
						</div>
						<div class="portrait-region">
							<h4>Подать заявку</h4>
						</div>
					</div>
					<div class="footer-link">
						<p>Подписывайтесь<br> на нас</p>
						<ul class="footer-list">
							<li class="footer-list__social">
								<a class="_icon-vk-white" href="#" target="_blank" rel="nofollow noopener noreferrer">
								</a>
							</li>
							<li class="footer-list__social">
								<a class=" _icon-telegram-white" href="#" target="_blank" rel="nofollow noopener noreferrer">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>