                            <div class="header__menu menu">
                                <nav class="menu__body ">
									<ul class="menu__list">
										<li class="menu__item">
											<a href="{% url 'about' %}" class="menu__link _icon-bi_geo-alt">О КИНОПРЕМИИ</a>
											<span class="_icon-derection-right">
											</span>
											<ul class="menu__sub-item">
												<li class="menu__item-submenu">
													<a href="news.html" class="menu__sub-link">НОВОСТИ</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="media.html" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
												<li class="menu__item-submenu">
													<a href="media.html" class="menu__sub-link">Медиа</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu__item ">
											<a href="experts.html" class="menu__link _icon-bi_geo-alt">ЭКСПЕРТЫ</a>
											<span class="_icon-derection-right">
											</span>
											<ul class="menu__sub-item">
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu__item">
											<a href="massMedia.html" class="menu__link _icon-bi_geo-alt">СМИ О НАС</a>
											<span class="_icon-derection-right">
											</span>
											<ul class="menu__sub-item">
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu__item">
											<a href="contact.html" class="menu__link _icon-bi_geo-alt">КОНТАКТЫ</a>
											<span class="_icon-derection-right">
											</span>
											<ul class="menu__sub-item">
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu__item">
											<a href="media.html" class="menu__link _icon-bi_geo-alt">МЕДИА</a>
											<span class="_icon-derection-right">
											</span>
											<ul class="menu__sub-item">
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Lorem ipsum</a>
													<span class="_icon-derection-right"></span>
													<ul>
														<li>
															<a href="" class="menu__sub-link"></a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</nav>
                            </div>