						<div class="header__right">
							<div class="header-apply">
								<a href="#" class="header-apply__vote btn">
									Голосовать
								</a>
								<a href="{% url 'altyn_app' %}" class="header-apply__application btn">
									Подать заявку
								</a>
							</div>
							<ul class="header-list">
								<li class="header-list__social">
									<a class="_icon-vk-white" href="#" target="_blank" rel="nofollow noopener noreferrer">
									</a>
								</li>
								<li class="header-list__social">
									<a class="_icon-telegram-white" href="#" target="_blank" rel="nofollow noopener noreferrer">
									</a>
								</li>
							</ul>
                            {% if user.is_authenticated %}
                            <div class="user">
                                <a href="{% url 'profile' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                        <path fill-rule="evenodd"
                                              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                    </svg>
                                </a>
                            </div>
                                {% else %}
                                <div class="admin">
                                    <a href="#popup" class="_icon-entrance popup-link"></a>
                                </div>
                            {% endif %}
						</div>