						<div class="header__right">
							<div class="header-apply">
                                {% if active_voting %}
								<a href="{% url 'voting_detail' slug=active_voting.slug %}" class="header-apply__vote btn">
									{{ active_voting.name }}
								</a>
                                {% endif %}
								<a href="{% url 'altyn_app' %}" class="header-apply__application btn">
									Подать заявку
								</a>
							</div>
							<ul class="header-list">
								<li class="header-list__social">
									<a class="_icon-vk-white" href="https://vk.com" target="_blank" rel="nofollow noopener noreferrer">
									</a>
								</li>
								<li class="header-list__social">
									<a class="_icon-telegram-white" href="https://telegram.org" target="_blank" rel="nofollow noopener noreferrer">
									</a>
								</li>
                                {% if user.is_authenticated %}
                                    <li class="header-list__social">
                                        <a class="_icon-user" href="{% url 'profile' %}" rel="nofollow noopener noreferrer">
									</a>
                                    </li>
                                {% else %}
                                    <div class="admin">
                                        <a href="#popup" class="_icon-entrance popup-link"></a>
                                    </div>
                            {% endif %}
							</ul>

						</div>