{% extends "base.html" %}
{% load static %}
{% block defer_scripts %}
    <script defer src="{% static 'js/app/create_app.js' %}"></script>
{% endblock %}
{% block content %}
<main class="main">
			<section id="application" class="application">
				<div class="container">
					<article class="header-application">
						<img src="{% static 'img/header-application.png' %}" alt="">
						<h2>Межрегиональная премия в области кинематографии<span> «Алтын тəлинкə» («Золотая тарелка»)</span></h2>
						<a href="" class="header-application__btn application-btn btn">Регламент</a>
					</article>
					<div class="order container">
						<p>Разделы заявки: </p>
						<ol type="1">
							<li>Информация о фильме (название, дебют, вид, категория);</li>
							<li>Жанр; </li>
							<li>Информация о фильме (хронометраж, логлайн, год, ПУ, возрастной ценз);</li>
							<li>Регион; </li>
							<li>Съёмочная команда (даты рождения, фильмография/биография членов команды); </li>
							<li> Карта регионов (данный раздел заполняется по желанию);</li>
							<li> Портфолио фильма (участие в фестивалях, охват в Интернете, публикации в СМИ); </li>
							<li>Контактная информация. </li>
						</ol>
						<p>Перед заполнением заявки подготовьте, пожалуйста, информацию:<br>
							- номер прокатного удостоверения (при наличии);<br>
							- биографию/фильмографию режиссера (при наличии – у сценариста и продюсера);<br>
							- ссылку на материалы, которая содержит: фильм, трейлер, афишу;<br>
							- информацию о правообладателе фильма<br>
							- контакты;<br>
							- информацию для составления договора на некоммерческие показы (заполняется по желанию)<br>
							(для физ.лиц - ФИО, адрес, контактные данные, для юр.лиц - наименование организации, адрес, ИНН (номер),
							КПП (номер), расчетный счет (номер), банковские реквизиты (к/с, БИК), контактные данные).
							При наличии данной информации под рукой, примерное время заполнение заявки составит 5 минут.</p>

						<p class="required-question">*Обязательный вопрос</p>
                        <form action="{% url 'create_altyn_app' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="invite_count" id="invite_count" value="0">
                            <input type="hidden" name="region_map" id="region_count" value="1">
                            <input type="hidden" name="contract_status" id="contract_status" value="later">


                            {% include 'applications/altyn_app/utils/movie_title.html' %}
                            
						    <div class="your-debut">

                                {% include 'applications/altyn_app/utils/debut.html' %}

                                {% include 'applications/altyn_app/utils/type.html' %}

                                {% include 'applications/altyn_app/utils/category.html' %}

                                {% include 'applications/altyn_app/utils/genre.html' %}

                                {% include 'applications/altyn_app/utils/timing.html' %}

                                {% include 'applications/altyn_app/utils/logline.html' %}

                                {% include 'applications/altyn_app/utils/year.html' %}

                                {% include 'applications/altyn_app/utils/rolled_certificate.html' %}

                                {% include 'applications/altyn_app/utils/age_limit.html' %}

                                <!-- РЕГИОН -->

                                {% include 'applications/altyn_app/utils/region.html' %}

                                {% include 'applications/altyn_app/utils/shooting_group.html' %}


                                <!-- Карта Регионов -->

                                {% include 'applications/altyn_app/utils/region_map_question.html' %}

                                <!-- Портфолио фильма -->

                                {% include 'applications/altyn_app/utils/movie_portfolio.html' %}

                                {% include 'applications/altyn_app/utils/copyright_information.html' %}

                                {% include 'applications/altyn_app/utils/contract.html' %}


                                <div class="submit-request">
                                    <a href="#">
                                        <p class="agreement-subtitle">Нажимая отправить вы соглашаетесь с обработкой
                                            персональных данных.
                                        </p>
                                    </a>
                                    <button type="submit" class="btn application-btn">Отправить заявку</button>
                                </div>
                            </div>
                        </form>
					</div>
				</div>
			</section>
		</main>


{% endblock %}
{% block script %}
    <script src="{% static 'js/app/script.js' %}"></script>
{#    <script src="{% static 'js/app/valid_app.js' %}"></script>#}
{% endblock %}