{% extends 'base.html' %}

{% block title %}О кинопремии{% endblock %}
{% block content %}
    <main class="main">
			<!-- theProject -->
			<section id="theProject" class="theProject">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-link "><a href="/">Главная</a></li>
						<li class="breadcrumb-link _icon-derection-right active" aria-current="page">О проекте</li>
					</ol>
					<article>
						<h2>
							О проекте
						</h2>
						<div class="theProject-text">
							<p>Межрегиональная премия в области кинематографии «Алтын тәлинкә» (Золотая тарелка). Награда за
								достижения
								в
								области национального кино будет вручаться на конкурсной основе молодым авторам по нескольким номинациям
								по
								результатам тайного голосования экспертов и зрительских рейтингов. Автором и инициатором премии
								выступает
								дирекция по поддержке кинопроектов и организации фестивалей «Время кино». Проект реализуется при
								поддержке
								Президентского фонда культурных инициатив.
							</p>
							<p>Премия организована с целью выявления молодых талантов в регионах России, их мотивации и финансовой
								поддержки за реализованные проекты, а также для продвижения национального кино, расширения его географии
								и
								увеличения аудитории.
								Оценка заслуг молодых кинематографистов осуществляется по трем критериям: успешный прокат в своем
								регионе
								и
								за его пределами, успешное фестивальное продвижение (в том числе на международной арене) и высокий
								рейтинг
								интернет-активности.
								По результатам премии создается каталог участников и победителей, на сайте по согласованию с
								правообладателями представлены фильмы для показа в разных регионах России.</p>
						</div>
					</article>
				</div>
			</section>
			<!-- theProject -->

			<!-- theProjectSlider -->
			<section id="theProjectSlider" class="theProject-slider ">
				<div class="container">
					<div class="sliderProject">
						<div class="sliderProject-item">
							<div class="sliderProject-video">
								<div class="sliderProject-video__bg sliderProject-video__bg--dark-blue">
									<img src="img/video-img.png" alt="">
								</div>
								<div class="sliderProject-video__content">
									<div class="sliderProject-video__play">
										<img src="img/video-play.png" alt="">
									</div>
								</div>
								<a class="sliderProject-video__link" href="#video1" aria-label="Смотреть видео"></a>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur. </p>
							<p>Lorem ipsum dolor / </p>
						</div>
						<div class="sliderProject-item">
							<div class="sliderProject-video">
								<div class="sliderProject-video__bg sliderProject-video__bg--dark-blue">
									<img src="img/video-img.png" alt="">
								</div>
								<div class="sliderProject-video__content">

									<div class="sliderProject-video__play photo">
										<img class="personPhoto" src="img/video-play.png" alt="">
									</div>
								</div>
								<a class="sliderProject-video__link" href="#video2" aria-label="Смотреть видео"></a>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur. </p>
							<p>Lorem ipsum dolor / </p>
						</div>
						<div class="sliderProject-item">
							<div class="sliderProject-video">
								<div class="sliderProject-video__bg sliderProject-video__bg--dark-blue">
									<img src="img/video-img.png" alt="">
								</div>
								<div class="sliderProject-video__content">

									<div class="sliderProject-video__play">
										<img src="img/video-play.png" alt="">
									</div>
								</div>

								<a class="sliderProject-video__link" href="#video1" aria-label="Смотреть видео"></a>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur. </p>
							<p>Lorem ipsum dolor / </p>

						</div>
						<div class="sliderProject-item">
							<div class="sliderProject-video">
								<div class="sliderProject-video__bg sliderProject-video__bg--dark-blue">
									<img src="img/video-img.png" alt="">
								</div>
								<div class="sliderProject-video__content">

									<div class="sliderProject-video__play">
										<img src="img/video-play.png" alt="">
									</div>
								</div>

								<a class="sliderProject-video__link" href="#video1" aria-label="Смотреть видео"></a>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur. </p>
							<p>Lorem ipsum dolor / </p>
						</div>
					</div>
					<!-- нижний слайдер -->
					<div class="sliderFilmAward">
						<div class="sliderFilmAward-item ">
							<nav class="breadcrumb-item">
								<ol class="breadcrumb-list">
									<h3>1 кинопремия</h3>
									<li class="breadcrumb-list__item">
										Более 200 заявок
									</li>
									<li class="breadcrumb-list__item">
										24 региона России
									</li>
									<li class="breadcrumb-list__item">
										14 проектов вошли в шорт лист
									</li>
									<li class="breadcrumb-list__item">
										9 экспертов
									</li>
								</ol>
								<a href="#" class="breadcrumb-btn ">#кинопремия</a>
							</nav>
						</div>
						<div class="sliderFilmAward-item ">
							<nav class="breadcrumb-item">
								<ol class="breadcrumb-list">
									<h3>2 кинопремия</h3>
									<li class="breadcrumb-list__item">
										Более 250 заявок
									</li>
									<li class="breadcrumb-list__item">
										40 региона России
									</li>
									<li class="breadcrumb-list__item">
										24 проектов вошли в шорт лист
									</li>
									<li class="breadcrumb-list__item">
										8 экспертов
									</li>
								</ol>
								<a href="#" class="breadcrumb-btn ">#кинопремия</a>
							</nav>
						</div>
						<div class="sliderFilmAward-item ">
							<nav class="breadcrumb-item">
								<ol class="breadcrumb-list">
									<h3>3 кинопремия</h3>
									<li class="breadcrumb-list__item">
										401 заявка
									</li>
									<li class="breadcrumb-list__item">
										39 региона России
									</li>
									<li class="breadcrumb-list__item">
										57 фильмов попали в лонг лист
									</li>
									<li class="breadcrumb-list__item">
										35 проектов попали в шорт лист
									</li>
									<li class="breadcrumb-list__item">
										7 экспертов
									</li>
								</ol>
								<a href="#" class="breadcrumb-btn ">#кинопремия</a>
							</nav>
						</div>
						<div class="sliderFilmAward-item ">
							<nav class="breadcrumb-item">
								<ol class="breadcrumb-list">
									<h3>4 кинопремия</h3>
									<li class="breadcrumb-list__item">
										Более 300 заявок
									</li>
									<li class="breadcrumb-list__item">
										25 региона России
									</li>
									<li class="breadcrumb-list__item">
										34 проектов вошли в шорт лист
									</li>
									<li class="breadcrumb-list__item">
										10 экспертов
									</li>
								</ol>
								<a href="#" class="breadcrumb-btn ">#кинопремия</a>
							</nav>
						</div>
					</div>
				</div>
			</section>

			<section class="theProjectImg">
				<h3 class="container">
					Более 100 000 зрителей по всему миру приняли участие в голосовании
				</h3>
				<div class="theProjectImg-content">
					<img src="img/icons/img_1.svg" class="theProjectImg-icon" alt="">
					<img src="img/theProjectImg/img_6.png" class="theProjectImg-img" alt="">
					<img src="img/icons/img_2.svg" class="theProjectImg-icon" alt="">
					<img src="img/theProjectImg/img_7.png" class="theProjectImg-img" alt="">
					<img src="img/icons/img_3.svg" class="theProjectImg-icon" alt="">
					<img src="img/theProjectImg/img_8.png" class="theProjectImg-img" alt="">
					<img src="img/icons/img_4.svg" class="theProjectImg-icon" alt="">
					<img src="img/theProjectImg/img_9.png" class="theProjectImg-img" alt="">
					<img src="img/icons/img_5.svg" class="theProjectImg-icon" alt="">
					<img src="img/theProjectImg/img_10.png" class="theProjectImg-img" alt="">
					<img src="img/theProjectImg/img_11.png" class="theProjectImg-img" alt="">
					<img src="img/theProjectImg/img_12.png" class="theProjectImg-img" alt="">
					<img src="img/theProjectImg/img_13.png" class="theProjectImg-img" alt="">
					<img src="img/theProjectImg/img_14.png" class="theProjectImg-img" alt="">
					<img src="img/theProjectImg/img_15.png" class="theProjectImg-img" alt="">
				</div>
				<div class="theProject-text container">
					<p>Межрегиональная премия в области кинематографии «Алтын талинка» (Золотая тарелка). Награда за достижения
						в
						области национального кино будет вручаться на конкурсной основе молодым авторам по нескольким номинациям
						по
						результатам тайного голосования экспертов и зрительских рейтингов. Автором и инициатором премии выступает
						дирекция по поддержке кинопроектов и организации фестивалей «Время кино». Проект реализуется при поддержке
						Президентского фонда культурных инициатив. Премия организована с целью выявления молодых талантов в
						регионах
						России, их мотивации и финансовой поддержки за реализованные проекты, а также для продвижения
						национального
						кино, расширения его географии и увеличения аудитории.
					</p>
					<p>Оценка заслуг молодых кинематографистов осуществляется по трем критериям: успешный прокат в своем регионе
						и
						за его пределами, успешное фестивальное продвижение (в том числе на международной арене) и высокий рейтинг
						интернет-активности.По результатам премии создается каталог участников и победителей, на сайте по
						согласованию с правообладателями представлены фильмы для показа в разных регионах России.</p>
				</div>
			</section>
			<section class="theProjectCatalog">
				<div class="theProject-catalog container">
					<figure>
						<img src="img/theProjectImg/catalog_1.png" alt="">
						<figcaption>2020</figcaption>
					</figure>
					<figure>
						<img src="img/theProjectImg/catalog_2.png" alt="">
						<figcaption>2021</figcaption>
					</figure>
					<figure>
						<img src="img/theProjectImg/catalog_3.png" alt="">
						<figcaption>2023</figcaption>
					</figure>
				</div>
			</section>
		</main>


{% endblock %}