{% load static %}
<section id="media" class="media">
				<div class="container">
					<h2 class="media-title title">МЕДИА</h2>
					<div class="media-content">
						<img src="{% static 'img/media-img.png' %}" alt="">
						<article>
							<h4>Церемония награждения</h4>
							<ul>
								<li><svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="3.5" cy="3.5" r="3.5" fill="#D49E3C" />
									</svg>24.02.2024</li>
								<li># МЕДИА</li>
							</ul>
							<p>Церемония награждения Лауреатов зрительского голосования - 2022 в рамках 2 Межрегиональной кинопремии“
								Золотая тарелка “</p>
						</article>
					</div>
					<div class="media-img">
						<div class="media-img_block">
							<img src="{% static 'img/img_1.png' %}" alt="">
							<h3>Время кино у озера Кабан</h3>
							<p>Открытие сезона уличных кинопоказов цикла “Время кино у озера Кабан” в рамках кинопремии “Золотая
								тарелка” </p>
							<a href="#" class="media-btn btn">
								#ВРЕМЯКИНО
							</a>
						</div>
						<div class="media-img_block">
							<img src="{% static 'img/img_1.png' %}" alt="">
							<h3>Время кино у озера Кабан</h3>
							<p>Открытие сезона уличных кинопоказов цикла “Время кино у озера Кабан” в рамках кинопремии “Золотая
								тарелка” </p>
							<a href="#" class="media-btn btn">
								#ВРЕМЯКИНО
							</a>
						</div>
						<div class="media-img_block">
							<img src="{% static 'img/img_1.png' %}" alt="">
							<h3>Время кино у озера Кабан</h3>
							<p>Открытие сезона уличных кинопоказов цикла “Время кино у озера Кабан” в рамках кинопремии “Золотая
								тарелка” </p>
							<a href="#" class="media-btn btn">
								#ВРЕМЯКИНО
							</a>
						</div>
						<div class="media-img_block">
							<img src="{% static 'img/img_1.png' %}" alt="">
							<h3>Время кино у озера Кабан</h3>
							<p>Открытие сезона уличных кинопоказов цикла “Время кино у озера Кабан” в рамках кинопремии “Золотая
								тарелка” </p>
							<a href="#" class="media-btn btn">
								#ВРЕМЯКИНО
							</a>
						</div>
					</div>
				</div>
			</section>