{% load static %}
<section id="news" class="news ">
				<div class="container">
					<h2 class="section-title title">НОВОСТИ</h2>
					<div class="news-content">
						<div class="news-workshop">
							<img src="{% static 'img/img_1.png' %}" alt="">
							<h4>
								Мастерская братьев Котт номинирована на кинопремию «Алтын тәлинкә»
							</h4>
							<p>
								Мастерская братьев Котт номинирована на кинопремию «Алтын тәлинкә»
							</p>
						</div>
						<div class="slider">
							<div class="slider_item">
								<img src="{% static 'img/img_2.png' %}" alt="">
								<p class="slider_item--text">
									Мастерская братьев Котт номинирована на кинопремию «Алтын тәлинкә»
								</p>
							</div>
							<div class="slider_item">
								<img src="{% static 'img/img_2.png' %}" alt="">
								<p class="slider_item--text">
									Мастерская братьев Котт номинирована на кинопремию «Алтын тәлинкә»
								</p>
							</div>
							<div class="slider_item">
								<img src="{% static 'img/img_2.png' %}" alt="">
								<p class="slider_item--text">
									Мастерская братьев Котт номинирована на кинопремию «Алтын тәлинкә»
								</p>
							</div>
							<div class="slider_item">
								<img src="{% static 'img/img_2.png' %}" alt="">
								<p class="slider_item--text">
									Мастерская братьев Котт номинирована на кинопремию «Алтын тәлинкә»
								</p>
							</div>
							<div class="slider_item">
								<img src="{% static 'img/img_2.png' %}" alt="">
								<p class="slider_item--text">
									Мастерская братьев Котт номинирована на кинопремию «Алтын тәлинкә»
								</p>
							</div>
							<div class="slider_item">
								<img src="{% static 'img/img_2.png' %}" alt="">
								<p class="slider_item--text">
									Мастерская братьев Котт номинирована на кинопремию «Алтын тәлинкә»
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>