                                            <li class="menu__item ">
											<a href="#" class="menu__link">О КИНОПРЕМИИ</a>
											<span class="_icon-derection-right">
											</span>
											<ul class="menu__sub-item">
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">О проекте</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Новости</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">СИМ о нас</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Медиа</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Мастер-классы</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Эксперты</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Контакты</a>
												</li>
											</ul>
										</li>