                                        <li class="menu__item">
											<a href="#" class="menu__link ">ДЕЛОВАЯ ПРОГРАММА</a>
											<span class="_icon-derection-right">
											</span>
											<ul class="menu__sub-item">
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Название локаций</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Мероприятия</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Смотреть кино</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Смотреть и голосовать</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Название фильма</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">События</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Поддержка проектов</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Название мероприятия</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">База идей</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">База идей внутренние</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Скрининг</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Скрининг внутренние</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Новости внутренние</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Портрет региона внутренние</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Страница голосовать</a>
												</li>
											</ul>
										</li>