                                        <li class="menu__item">
											<a href="#" class="menu__link ">КОНТАКТЫ</a>
											<span class="_icon-derection-right">
											</span>
											<ul class="menu__sub-item">
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Лендинг</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Страница специалисты</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Производство</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Портрет региона</a>
												</li>
											</ul>
										</li>