                                            <li class="menu__item">
											<a href="#" class="menu__link ">МЕДИА</a>
											<span class="_icon-derection-right">
											</span>
											<ul class="menu__sub-item">
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Смотреть кино</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Название мероприятия фото</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Название мероприятия видео</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Чаты кинематографистов</a>
												</li>
											</ul>
										</li>