                                <div class="header__menu menu">
                                    <nav class="menu__body ">
									<ul class="menu__list">

										{% include 'menu/about.html' %}

{#										{% include 'menu/regions.html' %}#}

										{% include 'menu/movies.html' %}

{#										{% include 'menu/contacts.html' %}#}

{#										{% include 'menu/media.html' %}#}

{#										{% include 'menu/business-program.html' %}#}
                                        {% if active_voting %}
                                        <li class="menu__item">
                                                <a href="{% url 'voting_detail' slug=active_voting.slug %}" class="menu__link ">Голосовать</a>
                                        </li>
                                        {% endif %}
									</ul>
								</nav>
							</div>