                                            <li class="menu__item ">
											<a href="#" class="menu__link ">КАРТА РЕГИОНОВ</a>
											<span class="_icon-derection-right">
											</span>
											<ul class="menu__sub-item">
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Портрет региона</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Специалисты</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Производство</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Локации</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Мероприятия</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Точки кинопоказов</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Чаты кинематографистов</a>
												</li>
												<li class="menu__item-submenu">
													<a href="#" class="menu__sub-link">Региональные интернет ресурсы</a>
												</li>
											</ul>
										</li>